.panel-body.table-responsive.nowrap  
  %table.table.table-hover.table-bordered
    %thead
      - ['Blogs', 'Last edited at', 'Detail'].each do |header|
        %th.center= header
    %tbody
      - blogs.each do |blog|
        %tr
          %td= "#{blog.title} [Author: #{blog.user.email}]"
          %td= blog.updated_at.strftime('%d-%m-%Y')
          %td.center
            %a{:href => '/blog/' + blog.id.to_s + '/detail'}
              %span.glyphicon.glyphicon-edit