- @blogs.each do |blog|
  .container
    .row
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-8
              = blog.created_at.strftime('%d-%m-%Y %H:%M:%S')
        .panel-body
          = render partial: 'partials/flash_message'
          .col-sm-10.col-sm-offset-1
            .row
              %h1= blog.title
            .row
              %p= blog.content
            .row
              %h4 Comments:
              %ul
                - blog.comments.each do |comment|
                  %li
                    %i= "[#{comment.created_at.strftime('%d-%m-%Y %H:%M:%S')}] #{comment.user.email}: #{comment.message}"